.nimbella
.deployed
__deployer__.zip
__pycache__/
node_modules
package-lock.json
.DS_Store
project.yml
.venv
virtualenv
.vscode
*.http
spaces*
gotools/blueskytest/blueskytest*
gotools/twitchtest/twitchtest*
*.zip
bootstrap
