.nimbella
.deployed
__deployer__.zip
__pycache__/
node_modules
package-lock.json
.DS_Store
project.yml
.venv
virtualenv
.vscode
*.http
spaces*
credentials.json
token.json
tools/services_test/services_test*
tools/shrampysubs/shrampysubs*
*.zip
bootstrap
template.yml
.aws-sam